body{
    margin: 0px;
}
#top {
    position: relative;
    background-color: #045491;
    color: white;
    padding: 0px;
    height: 50px;
    margin: 0px 0px 10px 0px;
}
#left{
    display: inline-block;
    width: 180px;
    margin-left: 10px;
}
#content{
    display: inline-block; 
    width: 70%; 
    vertical-align: top;
}


