<?xml version="1.0" encoding="UTF-8"?>
<web-app version="4.0" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd">

    <servlet>
        <servlet-name>Faces Servlet</servlet-name>
        <servlet-class>javax.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>Faces Servlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Application pages</web-resource-name>
            <url-pattern>/pages/*</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>*</role-name>
        </auth-constraint>
    </security-constraint>
    <security-constraint>
        <display-name>ReportsPageConstraint</display-name>
        <web-resource-collection>
            <web-resource-name>Edit Menu Page</web-resource-name>
            <description/>
            <url-pattern>/pages/menuEdit.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <description/>
            <role-name>perm:EditarMenuRead</role-name>
            <role-name>perm:EditarMenuWrite</role-name>
        </auth-constraint>     
    </security-constraint>
    <security-role>
        <role-name>USER</role-name>
    </security-role>
    <security-role>
        <role-name>ADMIN</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:EditarMenuRead</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:EditarMenuWrite</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:PermisosRolesRead</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:PermisosRolesWrite</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:UsuariosRead</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:UsuariosWrite</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:PermisosRead</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:PermisosWrite</role-name>
    </security-role>    
    <security-role>
        <role-name>perm:RolesWrite</role-name>
    </security-role>    
    <mime-mapping>
        <extension>woff</extension>
        <mime-type>application/font-woff</mime-type>
    </mime-mapping>
    <mime-mapping>
        <extension>ttf</extension>
        <mime-type>application/font-sfnt</mime-type>
    </mime-mapping>    
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>pages/home.xhtml</welcome-file>
    </welcome-file-list>
    <env-entry>
        <env-entry-name>com.tcm.dates.timezone</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>America/Bogota</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>com.tcm.dates.datePattern</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>dd/MM/yyyy</env-entry-value>
    </env-entry>
    <env-entry>
        <env-entry-name>com.tcm.dates.dateTimePattern</env-entry-name>
        <env-entry-type>java.lang.String</env-entry-type>
        <env-entry-value>dd/MM/yyyy hh:mm a</env-entry-value>
    </env-entry>
</web-app>
